.button{
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.textWrapper{
    width: 100%;
    position: relative;
}

.icon{
    position: relative;
    width: 30px;
    height: 30px;
    bottom: 4px;
    right: -8px;
}