.button{
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.nickInner{
    position: relative;
}

.textWrapper{
    width: 100%;
    position: relative;
}

.icon{
    width: 30px;
    height: 30px;
    top: 13px;
    right: -35px;
}