.App{
    background: #f9f9fa;
}

.App-header{
    position: absolute;
    bottom: 0;
    left: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.base-wrapper{
    max-width: 1200px;
    margin: 0 33px;
}

.content-wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.defaultPop{
    width: 410px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 33px;
    background: #ffffff;
}