.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.QA {
    font-weight: bold;
}

.shots {
    margin-top: 10px;
    font-size: smaller;
    color: grey;
}

.shotsNumber {
    font-weight: bold;
}