.backToPacks {
    position: absolute;
    top: 85px;
    left: 0;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.QA {
    font-weight: bold;
}

.answer {
    margin: 20px 0
}

.shots {
    margin-top: 10px;
    font-size: smaller;
    color: grey;
}

.shotsNumber {
    font-weight: bold;
}