.container {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.rangeWrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}

.button{
    height: 40px;
}